.div-wraper {
  width: 126px;
  height: 88px;
}

.small-div h1 {
  width: auto;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}

.small-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-div p {
  width: auto;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #777777;
}
