@import "../../stylevars/variables.scss";

.new-beggining {
  margin-bottom: 69px;
  margin-top: 46px;
  @include flexCenter;
}

.new-beggining h1 {
  display: flex;
  @include basicFontStyle;
}

.explore-menu {
  background: #111d25;
  border-radius: 10px;

  ul {
    @include flexCenter(space-around);
    height: 60px;
    align-items: center;
  }

  li {
    @include basicFontStyle(500, 16px, 24px, #b4b4b4);
    list-style: none;
  }
}
