@import "../../stylevars/variables.scss";

.new-beggining {
  margin-bottom: 69px;
  margin-top: 46px;
  @include flexCenter;
}

.new-beggining h1 {
  display: flex;
  @include basicFontStyle;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */

  color: #ffffff;
}

.explore-menu {
  background: #111d25;
  border-radius: 10px;

  ul {
    @include flexSpaceAround;
    height: 60px;
  }

  li {
    @include basicFontStyle;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #b4b4b4;

    list-style: none;
  }
}
