.line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 85px;
  background: #ffffff;
  opacity: 29%;
}

.linee {
  width: 920px;
  height: 1px;
  background: #363636;
}

.scroll {
  /* display: flex; */
  width: 404px;
  height: 238px;
  overflow: auto;
}

.scroll p {
  width: 100%;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.035em;

  color: #aeaeae;
}

.description {
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 343px;
  background: #111d25;
  border-radius: 10px;
}

.description h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;

  width: 105px;
  height: 27px;
}

.line-for-div {
  margin-bottom: 20px;
  width: 408px;
  height: 1px;
  background: #1d2931;
}

.small-div {
  width: 126px;
  height: 88px;
  background: rgba(56, 84, 142, 0.15);
  border: 1px solid rgba(64, 117, 255, 0.4);
  border-radius: 10px;
}

.div-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
