@import "../../stylevars/variables.scss";

.wallet {
  position: absolute;
  width: 751px;
  height: 587px;
  left: 620px;
  top: 407px;

  background: #111d25;
  border-radius: 10px;
  @include flexCenter;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  img {
    margin: 25px;
    cursor: pointer;
    float: left;
    position: absolute;
    right: 0;
    top: 0;
  }
  h1 {
    @include basicFontStyle;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */

    color: #ffffff;
  }

  p {
    @include basicFontStyle;
    width: 510px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
  }
}

.wallet-btn {
  gap: 20px;
  display: flex;
  flex-direction: column;

  button {
    width: 320px;
    height: 50px;
    background: #111d25;
    border-radius: 10px;
  }
}

// body {
//   opacity: 0.5;
//   filter: blur(10px);
// }
// body:not(.wallet) {
//   filter: blur(6px);
// }
