.card-wrapper {
  margin-top: 44px;
  width: 271px;
  height: 421px;
  background: rgba(56, 84, 142, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
}

.card-body {
  padding: 0 10px;
}

.card-body-top {
  margin-top: 10px;
  gap: 10px;
  display: flex;
}

.card-body-top img {
  width: 45px;
  height: 45px;
}

.body-top-left p {
  margin: 0;
}

.card-body-top-left {
  display: flex;
  flex-direction: column;
}

.card-body span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
}

.card-body p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: rgba(255, 255, 255, 0.7);
}

.body-mid-top {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}

.card-body-mid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.body-mid-top span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #8884b3;
}

.body-mid-bottom {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.body-mid-bottom span:first-child {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  gap: 10px;
}

.body-mid-bottom span:last-child {
  display: inline-block;
  margin-right: 20px;
}

button {
  margin-top: 8px;
  width: 249px;
  height: 35px;

  background-color: rgba(56, 84, 142, 0.15);
  color: white;
  border: 1px solid #4075ff;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #4075FF;
  ;
}

.card-cover span {
  width: 15px;
  height: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
}