.popular {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 42px;
    height: 42px;
    align-items: center;

}

.popular h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */


    color: #FFFFFF;

}

.popular span {
    color: #4075FF;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: auto;
}

.view_all {
    font-family: 'Poppins';
    color: #FFFFFF;
    width: 105px;
    height: 35px;
    left: 1195px;
    top: 903px;

    background: #4075FF;
    border: 1px solid #4075FF;
    box-sizing: border-box;
    border-radius: 10px;
}

.poppins {
    font-family: 'Poppins'
}