.popular {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 42px;
  height: 42px;
  align-items: center;
}

.popular h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  color: #ffffff;
}

.popular span {
  color: #4075ff;
}

.wrapper {
  height: auto;
  width: 100%;
  max-width: 1440px;
  /* display: flex; */
  align-items: center;
  margin: auto;
}

.view_all {
  font-family: "Poppins";
  color: #ffffff;
  width: 105px;
  height: 35px;
  left: 1195px;
  top: 903px;

  background: #4075ff;
  border: 1px solid #4075ff;
  box-sizing: border-box;
  border-radius: 10px;
}

.sec {
  width: 271px;
  height: 421px;
  background: rgba(56, 84, 142, 0.15);
  border-radius: 10px;
}

.photo {
  width: 271px;
  height: 200px;
  border-radius: 10px;
}

.statue {
  /* position: absolute; */
  width: 271px;
  height: 200px;
}

.stat {
  width: 57px;
  height: 25px;
  background: rgba(50, 50, 50, 0.2);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 2px;
}

.heart {
  left: 8.34%;
  right: 8.33%;
  top: 12.5%;
  bottom: 11.04%;
  position: relative;
}

.auf h1 {
  width: 119px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.9);
}

.auf p {
  margin: 0;
  width: 48px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.7);
}

.auf {
  align-items: center;
  gap: 10px;
  display: flex;
}

.sellers {
  width: 154px;
  height: 42px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  color: #ffffff;
}

.sellers span {
  color: #4075ff;
}

.middleel {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  justify-items: center;
  width: 100%;
  background: linear-gradient(
    89.98deg,
    rgba(40, 65, 130, 0.05) 3.28%,
    rgba(109, 33, 102, 0.05) 99.98%
  );
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}

@media screen and (min-width: 976px) {
  .middleel {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    justify-items: center;
    width: 100%;
    background: linear-gradient(
      89.98deg,
      rgba(40, 65, 130, 0.05) 3.28%,
      rgba(109, 33, 102, 0.05) 99.98%
    );
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }
}

.about {
  margin: 38px auto;
}

.sec {
  display: flex;
}

.desc {
  padding: 50px;
  background: #111d25;
  border-radius: 0px 10px 10px 0px;
}

.desc p {
  width: 100%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;

  color: rgba(255, 255, 255, 0.9);
}

.desc h1 {
  width: 105px;
  height: 27px;
}
