@import "../stylevars/variables.scss";
.wrap {
  width: 100%;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}

p {
  @include basicFontStyle(600, 15px, 22px);
}

ul li {
  font-family: "Poppins";
  font-style: normal;
}
