.wrap {
  width: 100%;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
}

ul li {
  font-family: "Poppins";
  font-style: normal;
}
