.wrap {
    width: 100%;
    max-width: 1440px;
    /* height: 4372px; */
    display: flex;
    flex-direction: column;
    /* background-image: url("../ui/bg.png"); */
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
}

p {
    width: 46px;
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

.line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    top: 85px;
    background: #ffffff;
    opacity: 29%;
}


.moon {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 168px; */
    /* float: right; */
    width: 100%;
    max-width: 1440px;
    margin-top: 210px;
}

.moon img{

    width:144px;
    height:149px;
}


.statue {
    display: inline-block;
    float: right;
    margin-top:30px;
    margin-right: -350px;
    mix-blend-mode: lighten;
    border-radius: 2px;

}


.statue img{
    background-image: transparent;
    mix-blend-mode: lighten;
}