@import "../../stylevars/variables.scss";

.tuar_daarqvi {
  display: flex;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;

  a {
    text-decoration: none;
    margin-right: 36px;
    color: #fff;
  }

  a:hover {
    color: #4075ff;
  }
}

.search {
  display: flex;
  width: 380px;
  justify-content: right;
  outline: 0;

  input {
    margin: 0;
  }
}
.btn button {
  margin: 0;
  width: 150px;
  background: rgba(64, 117, 255, 0.3);
  border: 1px solid #4075ff;
  box-sizing: border-box;
  box-shadow: 0px 4px 34px 4px rgba(64, 117, 255, 0.3);
  border-radius: 10px;
  color: #ffffff;
  @include basicFontStyle;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.futa {
  display: flex;
  text-align: center;
  align-items: center;
}

.container {
  transition: 0.3s all ease-in-out;
}

.container:hover {
  box-shadow: 0 0 10px #cf12c0, 0 0 40px #cf12c0, 0 0 80px rgba(64, 117, 255, 5);
}

.moon {
  mix-blend-mode: screen;
  justify-content: flex-end;
}

.middle_head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 653px;
}

.moon-statue {
  size: 100%;
  width: 620px;
  height: 640px;
  mix-blend-mode: lighten;
}

.artworks {
  justify-content: flex-start;
  width: 500px;
  height: 180px;

  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #ffffff;
    display: inline;
  }

  p {
    width: 307px;
    height: 54px;
    left: 140px;
    top: 457px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: rgba(255, 255, 255, 0.7);
  }

  span {
    width: 480px;
    height: 150px;
    left: 140px;
    top: 275px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    background: linear-gradient(
      89.89deg,
      #4075ff 37.7%,
      #4075ff 37.7%,
      #ff00e5 98.05%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .start {
    outline: none;
    width: 135px;
    height: 40px;
    left: 140px;
    top: 541px;

    background: #4075ff;
    border-radius: 10px;
    color: white;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.card-cover img {
  cursor: pointer;
}

.create {
  width: 135px;
  height: 40px;

  background: rgba(64, 117, 255, 0.1);
  border: 1px solid #4075ff;
  box-sizing: border-box;
  border-radius: 10px;

  @include basicFontStyle;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #4075ff;
}

.info {
  gap: 40px;
  margin-bottom: 70px;
  @include flexCenter;
  width: 100%;
  padding: 1px;
  background: linear-gradient(
    89.98deg,
    rgba(40, 65, 130, 0.2) 3.28%,
    rgba(109, 33, 102, 0.2) 99.98%
  );
}

.box {
  @include flexCenter;
  flex-direction: column;
  width: 80px;
  height: 93px;

  h2 {
    margin: 0;
    align-items: center;
    @include basicFontStyle;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #4075ff;
  }

  h3 {
    margin: 0;
    width: 80px;
    height: 30px;
    @include basicFontStyle;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #ffffff;
  }
}

.description-card {
  /* float: right; */
  width: 682px;
  height: 300px;
  background: #111d25;
  border-radius: 10px;
}

.history {
  width: 682px;
  height: 343px;
  background: #111d25;
  border-radius: 10px;
}
