@mixin basicFontStyle {
  font-family: "Poppins";
  font-style: normal;
}

@mixin flexCenter($justify: center) {
  display: flex;
  justify-content: $justify;
  text-align: center;
}

@mixin gridStyle($repeat, $justify: space-around) {
  display: grid;
  grid-template-columns: repeat($repeat, 1fr);
}
