.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.txt p {
  position: absolute;
  width: 5.625rem;
  height: 1.875rem;

  font-family: "Nico Moji";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;

  background: linear-gradient(
    90deg,
    #4075ff 2.08%,
    rgba(205, 56, 190, 0.88) 97.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.logo {
  display: flex;
  width: 11.688rem;
  height: 3.25rem;
}

.container {
  display: flex;
  width: 100%;
  height: 5.313rem;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.container :first-child {
  /* display: none; */
}

@media screen and (min-width: 976px) {
  .container {
    display: flex;
    width: 100%;
    height: 5.313rem;
    align-items: center;
    justify-content: space-between;
  }

  .container:first-child {
    display: flex;
    align-items: center;
  }
}

.search input {
  margin-left: 150px;
  width: 261px;
  height: 35px;
  background: rgba(73, 86, 106, 0.35);
  border: 1px solid #2d4662;
  box-sizing: border-box;
  border-radius: 10px;
}

::placeholder {
  padding-left: 10px;
  color: white;
}
